<footer>
  <div class="container">
    <div>
      <p>질문이 있으신가요? 문의전화: 080-001-9588</p>
    </div>
    <div>
      <ul role="list">
        <li><a href="#a">자주 묻는 질문</a></li>
        <li><a href="#a">계정</a></li>
        <li><a href="#a">투자 정보(IR)</a></li>
        <li><a href="#a">넷플릭스 지원 디바이스</a></li>
        <li><a href="#a">개인정보 처리방침</a></li>
        <li><a href="#a">회사 정보</a></li>
        <li><a href="#a">속도 테스트</a></li>
        <li><a href="#a">오직 넷플릭스에서</a></li>
        <li><a href="#a">고객 센터</a></li>
        <li><a href="#a">미디어 센터</a></li>
        <li><a href="#a">입사 정보</a></li>
        <li><a href="#a">이용 약관</a></li>
        <li><a href="#a">쿠키 설정</a></li>
        <li><a href="#a">문의하기</a></li>
        <li><a href="#a">법적 고지</a></li>
      </ul>
    </div>
    <div>
      <p>워드플렉스 대한민국</p>
      <p>
        넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
        제2018-서울종로-0426호 전화번호: 080-001-9587
      </p>
      <p>대표: 레지널드 숀 톰프슨</p>
      <p>이메일 주소: korea@netflix.com</p>
      <p>주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층</p>
      <p>우편번호 03161</p>
      <p>사업자등록번호: 165-87-00119</p>
      <p>클라우드 호스팅: Amazon Web Services Inc.</p>
      <a href="#a">공정거래위원회 웹사이트</a>
    </div>
  </div>
</footer>
