<header class="primary-header | py-2">
  <div class="container">
    <div class="header-wrapper">
      <h1><a class="logo" href="/">WORDFLEX</a></h1>
      <nav class="primary-navigation">
        <ul class="nav-list">
          <li><a href="#a">고민 게시판</a></li>
          <li><a href="#a">감동 게시판</a></li>
          <li><a href="/register">회원가입</a></li>
          <li><a href="/login">로그인</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
