<header class="primary-header | padding-block-300">
  <div class="container | flex-justify-between">
    <h1 class="logo">WORDFLEX</h1>
    <div class="button-wrapper">
      <a href="#" class="button">로그인</a>
    </div>
  </div>
</header>
