header.py-2
    div.container
        div.header-wrapper
            h1.logo
                a(href="#home")  WORDFLEX 
            nav
                ul.nav-list 
                    li
                        a(href="#home") 고민상담
                    li
                        a(href="#home") 감동사연
                    li
                        a(href="/register") 회원가입
                    li
                        a(href="/login") 로그인
                    

