header(class="primary-header | padding-block-400" )
    div(class="container")    
        div(class="nav-wrapper")
            h1(class="logo")
                a(href="#home") wordFlex
            nav(class="primary-navigation")
                ul(class="nav-list" role="list")
                    li 
                        a(href="/login") login