@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --ff-primary: "SUITE-Regular", serif;
  --fw-light: 400;
  --fw-regular: 500;
  --fw-bold: 700;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

/* general styling */
body {
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  height: 100vh;
  background-image: url(../../images/bird.jpg);
  background-size: contain;
  background-position: -15rem 11rem;
}
.nav-list {
  display: flex;
}
.nav-list a {
  padding: 1em;
}
.nav-list a:hover {
  background: whitesmoke;
}
/* header */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 2em;
}
/* utility */
.container {
  --max-width: 1200px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
