extends ../base
block content
    div.container
        form(method="POST")
            p 회원가입
            input(type="text" name="username" placeholder="아이디를 입력하세요")
            input(type="password" name="password" placeholder="비밀번호를 입력하세요")
            input(type="password" name="passwordConfirm" placeholder="비밀번호를 다시 입력하세요")
            input(type="text" name="realName" placeholder="이름을 입력하세요")
            input(type="email" name="email"
            placeholder="이메일을 입력하세요")
            button(type="submit") 회원가입 