<!DOCTYPE html>
<html lang="ko">
  <%- include("includes/head"); -%>
  <body>
    <%- include("includes/header"); -%>
    <!--============================================-->
    <section>
      <h1>회원가입 폼</h1>
    </section>
    <!--============================================-->
    <%- include("includes/footer"); -%>
  </body>
</html>
